.sidebar__filter {
    border: 1px solid #d0d0d0;
    border-radius: .2rem;
    background-color: #ffffff;
    font-size: 14px;
    display: none;

}


.sidebar__filter ul li {
    color: #444444;
    padding: .3rem .5rem;
    cursor: pointer;

}

.sidebar__filter .sidebar__more-link {

    display: block;
    padding: .5rem 1.5rem;
    color: #3ab1e4;
}

.sidebar__header {
    position: relative;
    padding: .5rem .8rem;
    border-bottom: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
}

.sidebar__header > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar__filter h3 {
    font-weight: bold;
    padding: 0 1.2rem;
}

/* .sidebar__more-link {
    padding: ;
} */

.sidebar__header > .fa-angle-down {
    position: absolute;
    left: 1rem;
}

.sidebar__resome {

    display: none;
}

.sidebar__resome > a > img {
    width: 100%;
    height: auto;
}


@media screen and (min-width: 1000px){
    
    .sidebar__filter {
        display: block;
    }
    .sidebar__resome {

        display: block;
    }
    
}