.header__bottom--background {
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
}

.container__header-bottom {
  margin: 0 1.2rem;
}

.wrapper__header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
}

.header__horizontal-nav {
  display: flex;
  align-items: center;
}

.header__horizontal-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.header__horizontal-nav ul a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: bold;
  color: #006b99;
  width: 11rem;
  padding: 1.9rem;
  height: inherit;
  transition: all 0.2 ease-in-out;
  white-space: nowrap;
}

.header__horizontal-nav ul a:hover {
  border-bottom: 2px solid #3ab1e4;
  color: #3ab1e4;
}

.header__horizontal-nav ul a.active {
  border-bottom: 2px solid #006b99;
}

.header__new-ads-btn {
  display: none;
}
.header__new-ads-btn > a {
  text-decoration: none;
  display: block;
  color: #3ab1e4;
  border: 1px solid #3ab1e4;
  border-radius: 3px;
  padding: 0.4rem 0.6rem;
}

/* Media Query*/
@media screen and (max-width: 1000px) {
  .wrapper__header-bottom {
    overflow-y: auto;
  }
}

@media screen and (min-width: 1000px) {
  .header__horizontal-nav ul a {
    width: auto;
  }

  .header__new-ads-btn {
    display: block;
  }
}
